<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">QLS</title>
        <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{/resources/css/bootflat.min.css}" rel="stylesheet" />
        <link th:href="@{/resources/css/styles.css}" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <div class="content" layout:fragment="content" />
            <div class="footer">
                <div class="footer-copyright text-center">Copyright &copy; 2015 QLS. Mariusz Galler</div>
            </div>
        </div>
    </body>
</html>