<!DOCTYPE html>
<html layout:decorator="layout">
    <head>
        <title>Login</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <form name="loginForm" th:action="@{/login}" method="post">               
                        <fieldset>
                            <legend th:text="#{login.title}" />
                            <div th:if="${param.error}" th:text="#{login.error}" class="alert alert-danger" />
                            <div th:if="${param.logout}" th:text="#{login.logout}" class="alert alert-success" />
                            <input type="text" id="username" name="username" class="form-control" th:placeholder="#{login.username}" />
                            <input type="password" id="password" name="password" class="form-control" th:placeholder="#{login.password}" />
                            <div class="form-actions">
                                <button type="submit" th:text="#{login.submit}" class="btn" />
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>